nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    }
    nav li {
    display: inline-block;
    }
    
    nav {
    border: 1px solid #333;
    margin: 1rem auto;
    background-color: #eee;
    background-image: url("https://assets.codepen.io/296057/lil-graydots.png");
    border-bottom: 5px solid #00bff3;
    border-top: 5px solid #00bff3;
    }
    
    nav a {
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
    }
    
    nav a:focus {
    background-color: #f0c808;
    color: black;
    }
    nav a:hover {
    background-color: #f0c808;
    color: #ff583d;
    background-image: url("https://assets.codepen.io/296057/lil-yellowdots.png");
    }
    .active {
    color: #ff583d;
    background-color: #c5e5ed;
    background-image: url("https://assets.codepen.io/296057/lil-bluedots.png");
    }
    
    html {
    box-sizing: border-box;
    }
    body {
        font-family: sans-serif;
      }
    table {
        border-collapse: collapse;
        border: 1px solid rgb(3, 134, 248);
        text-align: center;
        vertical-align: middle;
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
      }
      thead th {
        width: 25%;
      }
      .cell-highlight {
        background-color: rgb(246, 245, 239);
        font-weight: bold;
      }
      tbody tr:nth-child(odd) {
        background-color: #fff;
      }
      
      tbody tr:nth-child(even) {
        background-color: #eee;
      }
      tbody th {
        background-color: #36c;
        color: #fff;
        text-align: left;
      }
      tbody tr:nth-child(even) th {
        background-color: rgb(24, 31, 46);
      }
      caption {
        font-weight: bold;
        font-size: 24px;
        text-align: left;
        color: rgb(7, 10, 17);
        margin-bottom: 16px;
      }
      thead {
        background-color: rgb(231, 6, 6);
        color: white;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 2%;
      }
    body {
        font-family: sans-serif;
      }
    table {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
      }
      
      th, td {
        border: 1px solid black;
        padding: 8px;
      }
      thead th {
        width: 25%;
      }
      .cell-highlight {
        background-color: rgb(246, 245, 239);
        font-weight: bold;
      }
      tbody tr:nth-child(odd) {
        background-color: #fff;
      }
      
      tbody tr:nth-child(even) {
        background-color: #eee;
      }
      tbody th {
        background-color: #36c;
        color: #fff;
        text-align: left;
      }
      tbody tr:nth-child(even) th {
        background-color: #25c;
      }
      caption {
        font-weight: bold;
        font-size: 24px;
        text-align: left;
        color: rgb(6, 188, 249);
        margin-bottom: 16px;
      }
      thead {
        background-color: rgb(10, 206, 251);
        color: white;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 2%;
      }
